.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  max-width: 70ch;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.2s;
  line-height: 1.4;
}

.nav a:hover {
  color: var(--text-color);
}

.activeLink {
  color: var(--text-color) !important;
  border-bottom: 1px solid var(--focus-color);
}

.nav div:last-child a {
  margin-left: 0;
}

.nav div:last-child {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav div:last-child {
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 12px 18px;
  }

  .nav div:last-child a {
    margin-right: 0;
    padding: 2px 0;
  }
}
